*{
            margin: 0px;
            padding: 0px;
            font-family: Arial, Helvetica, sans-serif;
        }
        ::-webkit-scrollbar{
            width: 0px;
            height: 0px;
            /* Tag usada para esconder a scrollbar na pagina*/
        }
        img{
            width: 100vw;
        }
        a{
            display: block;
            background-color: darkred;
            color: white;
            margin-top: -4px;
            padding: 10px;
            text-align: center;
            text-decoration: none;
        }
        a:hover{
            background-color: red;
            font-weight: bolder;
        }